.body {
    display: flex;
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 10px 180px;
    margin: 0;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.awesome-title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0;
}

.awesome-text,
.header-links {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.awesome-button {
    background-color: #3882F6;
    color: #E5E7EB;
    align-self: start;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
}

.header-bottom {
    display: flex;
    flex: wrap;
    gap: 50px;
    margin: 100px 0px;

}

.awesome-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}

.awesome-placeholder {
    background-color: grey;
    color: white;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.random-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.random-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    padding: 30px;
}

.squares {
    display: flex;
    gap: 50px;
    justify-content: center;

}

.square-container {
    display: flex;
    flex: 0 0 100px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.square {
    height: 150px;
    width: 150px;
    border-color: #3882F6;
    border-width: 3px;
    border-radius: 8px;
    border-style: solid;
}

.square-text {
    flex: 0 0 100px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;

    padding: 100px 250px;

}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    font-weight: bold;
    text-align: right;
}