.body {
    display: flex;
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 10px 180px;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.awesome-title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0;
}

.awesome-text,
.header-links {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.awesome-button {
    background-color: #3882F6;
    align-self: start;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
}

.header-bottom {
    display: flex;
    flex: wrap;
    gap: 50px;
    margin: 100px 0px;

}

.awesome-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}

.awesome-placeholder {
    background-color: grey;
    color: white;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}